{% extends "layout.html" %}

{% block body %}
<h2>{{trip.name}}</h2>
  <table>
    <tr>
      <th>Pakattava</th>
      <th>Pakattu</th>
      <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.done }}</td>
      <td>
	<form method="POST" action="{{ url_for('tasks_operation', task_id=task.id) }}">
    <input name="operation" type="submit" value="Muuta status"/>
  </form>
  <form method="POST" action="{{ url_for('tasks_operation', task_id=task.id) }}">
    <input name="operation" type="submit" value="Poista"/>
  </form>
  <form method="GET" action="{{ url_for('tasks_modify', task_id=task.id) }}">
    <input type="submit" value="Muokkaa"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="{{ url_for('tasks_form', trip_id=trip.id) }}"><button>Lisää pakattava</button></a>
{% endblock %}